/* AREA TO DISPLAY USER ICON, NAME & LOGOUT BUTTON */
.user_area
{
    height: 150px;
    width: 150px;
    float: right;
}

.user_area a img
{
    height: 80px;
}

.user_area h2
{
    height: 30px;
}

.user_area a
{
    font-size: 14px;
}

/* AREAS TO DISPLAY GAME INFO & STATS */
.account_areas
{
    width: 80%;
    height: 400px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 10px;
    clear: both;
    overflow: hidden;
}

.game_names, .user_stats h2
{
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.game_name
{
    width: 20%;
    height: 100%;
    opacity: 0.2;
    float: left;
    background-color: #ccc;
    font-size: 24px;
}

.game_selected
{
    opacity: 1;
    background-color: #fff;
}

.game_info
{
    width: 90%;
    height: 250px;
    margin: 0 auto;
    margin-top: 20px;
}

.game_info p
{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

.game_info a
{
    float: right;
    border-radius: 10px;
}

/* AREA/ TABLE TO CYCLE THROUGH OVERALL STATS FOR EACH GAME */
.user_stats
{
    width: 100%;
    height: 300px;
}

.user_stats table
{
    width: 100%;
    height: 200px;
    margin-top: 25px;
}

.user_stats table tr:nth-of-type(1)
{
    font-size: 20px;
    height: 25px;
}

.user_stats table th
{
    width: 33.3%;
}

.user_stats table tr:nth-of-type(2) td:nth-of-type(2)
{
    border-right: 2px solid #f7f5fa;
    border-left: 2px solid #f7f5fa;
}
