.gameSetupArea 
{
	width: 80%;
	margin: 0 auto;
	height: 200px;
}

.innerSetupArea
{
	width: 33.3%;
	float: left;
	height: 100%;
}
.option
{
	height: 33.3%;
	background-color: #fff;
	border: 5px solid #f5f7fa;
	border-radius: 25px;
	opacity: 0.2;
}

.setupHeader 
{
	opacity: 0.2;
}