.quitGame
{
	float: right;
	font-size: 20px;
}

.quitGame:hover
{
	cursor: pointer;
}

.page 
{
	width: 100%;
	height: 100%;
	padding: 20px;
}

.startGameButton
{
	font-size: 24px;
	padding: 10px 20px;
	color: #fff;
}

/* USED TO CHOOSE THE ORDER OF THROW */
.playerOrder
{
	width: 300px;
	margin: 100px auto;
	text-align: center;
	font-size: 30px;
}

.playersToOrder
{
	height: 300px;
	margin-top: 30px;
}

.playersToOrder li
{
	height: 70px;
	line-height: 70px;
	text-align: left;
	margin: 10px 0;
	background-color: #fff;
	border: 2px solid #f5f7fa;
	border-radius: 5px;
	list-style-type: none;
	padding-left: 10px;
}

.playersToOrder li button
{
	height: 100%;
	border: 2px solid #fff;
	padding: 0 20px;
}

.right
{
	float: right;
	height: 100%;
	margin-top: -2px;
}

/* X01 GAME CSS */
.board
{
	height: 60%;
}

.game
{
	height: 40%;
	max-width: 1000px;
	margin: 0 auto;
}

/* UNDO & FRIENDLY BUTTON */
.gameButtons
{
	width: 80%;
	height: 10%;
	padding-left: 1%;
	margin: 0 auto;
}

.gameButtons button
{
	height: 100%;
	float: left;
	margin-right: 20px;
	color: #fff;
}

/* AREA APPEND TO PAGE FOR EVERY PLAYER TO DISPLAY NAME & SCORES */
.playerBox
{
	height: 35%;
	margin-top: 2.5%;
	color: #fff;
}

.scoreboardSection
{
	height: 100%;
	width: 15%;
	float: left;
	margin-left: 1%;
	background-color: #333;
}

/* AREA THAT DISPLAYS PLAYER NAME */
.scoreboardSection:first-of-type
{
	width: 10%;
}


/* 100 DARTS AT GAME */
.scoreboard
{
	width: 80%;
	height: 30%;
	margin: 0 auto;
}

.inner_scoreboard
{
	height: 100%;
	width: 45%;
	float: left;
}

.third_height
{
	height: 33.3%;
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

.enterScore
{
	height: 100%;
	float: right;
	background-color: #fff;
	width: 80px;
	border: 2px solid #f5f7fa;
}

.dartsLeft
{
	height: 100%;
	width: 10%;
	float: left;
	text-align: center;
	font-size: 30px;
}

span.numDartsLeft
{
	display: block;
	padding: 10px 20px;
	background-color: #fff;
}

#hundredGame
{
	height: 10%;
}

#hundredGame .gameButtons
{
	height: 20%;
}

#hundredGame .playerBox
{
	height: 75%;
	padding-top: 1%;
	padding-left: 1%;
	margin-top: 0;
}

.section
{
	height: 100%;
	float: left;
}

.nameSection
{
	width: 15%;
	margin-right: 5%;
	background-color: #333;
}

.scoreSection
{
	width: 80%;
}

.innerSection
{
	height: 100%;
	width: 30%;
	background-color: #333;
	margin-right: 3.3%;
}

/* CRICKET GAME */
.playerOrder p
{
	margin-top: 30px;
}

.scoreboards
{
	height: 100%;
	width: 20%;
	float: left;
}

.gameScoreboard
{
	height: 15%;
	border: 2px solid #333;
}

.inner_gameScoreboard
{
	height: 20%;
}

#gameScore, #gameWickets
{
	width: 50%;
	float: left;
}

#gameScore
{
	text-align: right;
}

#gameWickets
{
	text-align: left;
	padding-left: 5px;
}

.half_scoreboard
{
	height: 85%;
	width: 50%;
	float: left;
}

.inner_half
{
	height: 10%;
	background-color: #333;
	color: #fff;
	border: 2px solid #f7f5fa;
}

.game
{
	height: 100%;
	width: 80%;
	float: left;
}

#cricketGame .board
{
	height: 80%;
}

#cricketButtons
{
	height: 5%;
}

#cricketScoreboard
{
	height: 15%;
	padding-left: 1%;
}

#cricketScoreboard .inner_scoreboard
{
	width: 20%;
	flex: left;
	background-color: #333;
	color: #fff;
	border: 5px solid #f7f5fa;
}

/* ROUND THE WORLD GAME */
#worldScoreboard
{
	height: 10%;
}

.half
{
	height: 50%;
	margin: 0;
}

.inner_half
{
	width: 5%;
	height: 100%;
	float: left;
	background-color: #333;
}

.inner_half:nth-child(even)
{
	background-color: #fff;
	color: #333;
}

#worldPage .board
{
	height: 60%;
}

#worldGame
{
	height: 20%;
	float: none;
}

#worldGame .gameButtons
{
	height: 20%;
	padding-left: 0;
	margin: 0;
}

#worldGame .lower_scoreboard
{
	height: 80%;
}

.worldInner_scoreboard
{
	width: 16.5%;
	height: 100%;
	float: left;
	background-color: #333;
	color: #fff;
	border: 2px solid #f7f5fa;
}

.worldScore
{
	height: 80%;
}

/* TIC TAC TOE GAME */
.ticScoreboard
{
	width: 50%;
	height: 10%;
	margin: 0 auto;
}

.ticScoreboard .half
{
	width: 50%;
	float: left;
}

.ticScoreboard .half p
{
	height: 100%;
	width: 20%;
	float: right;
	background-color: #fff;
	color: #333;
}

.ticGameBoard
{
	height: 80%;
	width: 80%;
	margin: 0 auto;
}

.ticGameBoard .innerSection
{
	width: 33.3%;
	height: 33.3%;
	float: left;
	margin-right: 0;
	border: 5px solid #f7f5fa;
	font-size: 40px;
	color: #fff;
}

#ticButtons
{
	height: 10%;
	padding-left: 0;
}

#ticButtons button
{
	float: right;
}

.greenText
{
	color: #91c46b;
}

.redText
{
	color: #d9534f;
}

.neutralText
{
	color: #fff;
}
