#gameSetup
{
	width: 80%;
	margin: 0 auto;
	height: 300px;
}

.gameSetupArea
{
	height: 100%;
	width: 100%;
}

.innerSetupArea
{
	width: 33.3%;
	float: left;
	height: 100%;
}

.innerSetupArea h2
{
	height: 10%;
}

.option
{
	height: 30%;
	background-color: #fff;
	border: 5px solid #f5f7fa;
	border-radius: 25px;
	opacity: 0.2;
}

.setupHeader 
{
	opacity: 0.2;
}

.opponent
{
	width: 60%;
	margin: 20px auto;
}