/* ASSIGNED TO ALL PAGES */

* {
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
	background-color: #f5f7fa;
	overflow: hidden;
}

/* COLOURS */
.green {
	fill: #91c46b;
}

.red {
	fill: #d9534f;
}

.white {
	fill: #eee;
}

/* FRIENDLY OPTION */
.scale .scalable {
	transform: scale(1.1);
}

.scale .dontScale {
	transform: scale(0.91);
}

.scale .scalable .scaleTwo {
	transform: scale(1.3);
}
