/* ASSIGNED TO ALL PAGES */

* 
{
	font-family: 'Helvetica';
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
}

html, body 
{
	height: 100%;
	width: 100%;
	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
	background-color: #333;
/*	overflow: hidden;*/
}
/* DARKER BG - #a4a6a8*/

.page 
{
	width: 100%;
	height: 100%;
	padding: 100px;
}

/* COLOURS */
.green 
{
	fill: #91c46b;
}

.red 
{
	fill: #d9534f;
}

.white 
{
	fill: #eee;
}

/* BUTTONS */

.button
{
	color: #fff;
	text-align: center;
}

.button:hover
{
	cursor: pointer;
}

.redButton 
{
	background-color: #d9534f;
}

.redButton:hover
{
	background-color: #bc2e29;
}

.greenButton 
{
	background-color: #91c46b;
}

.greenButton:hover
{
	background-color: #6ca441;
}

/* FRIENDLY OPTION */
.scale .scalable 
{
	transform: scale(1.1);
}

.scale .dontScale 
{
	transform: scale(0.91);
}

.scale .scalable .scaleTwo 
{
	transform: scale(1.3);
}

/* NAVIGATION BAR */
.navBar 
{
	height: 100%;
	background-color: #000;
	width: 100px;
	float: left;
}

.navbar_image
{
	width: 100px;
	height: 100px;
	padding-top: 20px;
	background-color: #000;
}

.navbar_image img
{
	width: 60px;
	height: 60px;
	color: #fff;
}

/* MAKES USER ICON BIGGER */
#user_icon
{
	height: 100px;
	width: 100px;
}

#user_div
{
	padding: 0;
}

.navbar_image:hover
{
	cursor: pointer;
	background-color: #333;
}

.icon_clicked
{
	background-color: #333;
}

/* WHEN LOGGED INTO ACCOUNT, CHANGES LOG OUT COLOUR TO RED */
.logOutButton a
{
	color: #d9534f;
	font-size: 26px;
}

.logOutButton a:hover
{
	color: #bc2e29;
}

/* FORM - REGISTER.PHP, LOGIN.PHP */
.form 
{
	width: 500px;
	background-color: #fff;
	margin: 50px auto;
	height: 300px;
	border-radius: 10px;
	overflow: hidden;
}

input 
{
	width: 100%;
	height: 75px;
	border: none;
	text-align: left;
	padding-left: 20px;
	font-size: 30px;
	line-height: 75px;
}

input:focus 
{
	background-color: #f5f7fa;
	outline: none;
}

.smallForm
{
	height: 225px;
	margin-top: 200px;
}

/* ALERT MESSAGE */
.alertMessage
{
	width: 800px;
	padding: 20px;
	font-size: 40px;
	color: #fff;
	margin: 20px auto;
}

/* INDEX.PHP */
p, a
{
	color: #ccc;
	text-decoration: none;
	margin-bottom: 10px;
}

p a:hover
{
	cursor: pointer;
	color: #fff;
}

/* ACCOUNT.PHP */

.accountName
{
	font-size: 40px;
	text-align: left;
	color: #fff;
	margin-left: 100px;
	margin-bottom: 50px;
}

.content
{
	width: 1500px;
	height: 750px;
	background-color: #ccc;
	border-radius: 10px;
	margin-left: 50px;
	overflow: hidden;
}

.listOfGames
{
	height: 100%;
	width: 200px;
	background-color: #fff;
	float: left;
}

.game
{
	height: 20%;
	width: 100%;
}

.game p
{
	font-size: 60px;
	line-height: 150px;
	color: #000;
}

.game img
{
	width: 80px;
	height: 80px;
	margin-top: 35px;
}

.game:hover
{
	cursor: pointer;
	background-color: #ccc;
}

.game_clicked
{
	background-color: #ccc;
}

.game_info
{
	width: 1200px;
	height: 650px;
	border: 2px solid white;
	margin: 50px 250px;
}

.game_info p
{
	color: #000;
}


