.scoreboard {
	width: 80%;
	height: 100px;
	margin: 20px auto;
}

.half {
	width: 48%;
	height: 100%;
	display: inline-block;
	background-color: #333;	
	color: #fff;
	font-size: 60px;
	line-height: 100px;
}

#nought, #cross {
	width: 30%;
	height: 100%;
	background-color: #fff;
	float: right;
	border: 2px solid #333;
	color: #333;
}

.gameBoard {
	width: 750px;
	height: 750px;
	margin: 0 auto;
}

.innerSection {
	width: 245px;
	height: 245px;
	display: inline-block;
	border: 2px solid #fff;
	background-color: #333;
	margin: 0;
}

.targetText {
	height: 100%;
	width: 100%;
	color: #fff;
	font-size: 80px;
	line-height: 245px;
}

.green {
	color: green;
	font-size: 100px;
	line-height: 230px;
}

.red {
	color: red;
	font-size: 100px;
	line-height: 230px;
}

.neutral {
	color: #fff;
}

.gameButtons {
	height: 50px;
	margin: 20px auto;
	text-align: right;
	max-width: 1500px;
	padding-left: 0.6%;
}

.gameButtons button {
	font-size: 24px;
	padding: 10px;
}