.playerOrder {
	min-width: 200px;
	min-height: 300px;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

.block {
	display: block;
	margin: 10px auto;
}

.playersToOrder {
	text-align: left;
	display: inline-block;
}

.playerOrder button {
	font-size: 20px;
	padding: 10px;
}

.playersToOrder li {
	min-height: 50px;
	min-width: 200px;
	line-height: 50px;
}

.right {
	float: right;
}

/* SCOREBOARDS TO DISPLAY OVERALL SCORE & WICKETS, RUNS SCORED */

.scoreboards {
	width: 20%;
	height: 100%;
	display: inline-block;
}

.gameScoreboard {
	width: 100%;
	height: 120px;
	border: 2px solid #333;
	margin: 0 auto;
	text-align: center;
}

.gameScoreboard p {
	height: 30px;
	width: 100%;
	line-height: 30px;
}

#gameScore, #gameWickets {
	width: 48%;
	display: inline-block;
}

#gameScore {
	text-align: right;
}

#gameWickets {
	text-align: left;
}

.half_scoreboard {
	height: 800px;
	width: 50%;
	float: left;
	text-align: center;
}

.inner_half {
	width: 100%;
	height: 80px;
	background-color: #333;
	line-height: 80px;
	font-size: 50px;
	color: #fff;
	border: 2px solid #fff;
}

/* AREA THAT HOLDS BOARD, GAME BUTTONS & LOWER SCOREBOARD*/

.game {
	width: 80%;
	float: right;
	text-align: center;
}

.board {
	width: 60%;
	margin: 0 auto;
	margin-top: 40px;
}

svg {
	max-height: 800px;
}

.gameButtons {
	height: 50px;
	margin: 20px auto;
	text-align: left;
	max-width: 1500px;
	padding-left: 0.6%;
}

.gameButtons button {
	font-size: 24px;
	padding: 10px;
}

/* LOWER SCOREBOARD TO DISPLAY WHAT HAS BEEN HIT */

.scoreboard {
	width: 100%;
	height: 100px;
	margin: 20px auto;
}

.inner_scoreboard {
	vertical-align: top;
	width: 20%;
	height: 100%;
	float: left;
	display: inline-block;
	border: 2px solid #fff;
	background-color: #333;
	font-size: 20px;
	line-height: 100px;
}

.inner_scoreboard p, .inner_half p {
	width: 100%;
	height: 100%;
	color: #fff;
}

#nameSection, #playerTypeSection {
	height: 50%;
	line-height: 50px;
}

.batterScore {
	opacity: 1;
}

/* BUTTONS THAT APPEAR WHEN GAME HAS BEEN WON OR 10 WICKETS HAVE BEEN TAKEN */


.playerStatsArea button, button .endGameScore {
	font-size: 20px;
	padding: 10px;
	margin-bottom: 20px; 
}

.playerStatsArea button:hover {
	background-color: #333;
	color: #fff;
}

button .endGameScore:hover {
	background-color: #91c46b;
	color: #fff;
}

/* MEDIA QUERY FOR WHEN SCREEN IS LESS THAN 1450px */
@media only screen and (max-width: 1450px)
{

	.scoreboards {
		width: 100%;
		height: 240px;
	}

	.gameScoreboard {
		max-width: 600px;
		margin: 0 auto;
	}

	.half_scoreboard {
		width: 100%;
		height: 60px;
	}

	.inner_half {
		width: 10%;
		height: 100%;
		float: left;
		font-size: 30px;
		line-height: 60px;
	}

	.game {
		width: 100%;
	}

	svg {
		max-height: 700px;
	}
}